## Chapter 1

# No.10 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [15]:
with open('hightemp.txt', 'r', encoding='utf-8') as f :
    print(len(f.readlines()))

24

# No.11 タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [17]:
with open('hightemp.txt', 'r', encoding='utf-8') as f :
    print(f.read().replace('\t',' '))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

# No.12 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [2]:
with open('hightemp.txt', 'r', encoding='utf-8') as original, \
    open('col1.txt', 'w', encoding='utf-8') as col1, \
    open('col2.txt', 'w', encoding='utf-8') as col2:
    
    for row in original.readlines() : 
        row_split = row.split('\t')
        col1.write(row_split[0] + '\n')
        col2.write(row_split[1] + '\n')

# No.13 col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [27]:
with open('col1.txt', 'r', encoding='utf-8') as col1, \
    open('col2.txt', 'r', encoding='utf-8') as col2, \
    open('merged.txt', 'w', encoding='utf-8') as merged:
        
    for row1, row2 in zip(col1.readlines(), col2.readlines()) :
        merged.write(row1.rstrip() + '\t' +  row2)

# No.14 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [30]:
print('自然数をひとつ入力してください。N = ', end='')
input_num = input()
input_num = int(input_num)

with open('hightemp.txt', encoding='utf-8') as input_data :
    lines = input_data.readlines()
    
for line in lines[ : input_num] :
    print(line, end='')

自然数をひとつ入力してください。: 5
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

# No.15 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [32]:
print('自然数をひとつ入力してください。N = ', end='')
input_num = input()
input_num = int(input_num)

with open('hightemp.txt', encoding='utf-8') as input_data :
    lines = input_data.readlines()
    
for line in lines[-input_num : ] :
    print(line, end='')

自然数をひとつ入力してください。: 4
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

# No.16 ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [63]:
print('自然数をひとつ入力してください。N = ', end='')
input_num = input()
input_num = int(input_num)

with open('hightemp.txt', encoding='utf-8') as input_data :
    lines = input_data.readlines()
    lines_size = len(lines)
    
    unit_size = lines_size // input_num
    res = data_num % input_num

    indeces = [0]
    for i in range(1, input_num) : 
        indeces.append(indeces[-1] + unit_size)
        if res > 0 :
            indeces[-1] += 1
            res -= 1
    indeces.append(lines_size)

for i in range(len(indeces) - 1) :
    with open('hightemp_split_' + str(i) + '.txt', 'w', encoding='utf-8') as output_data :
        output_data.writelines(lines[indeces[i] : indeces[i + 1]])

自然数をひとつ入力してください。N = 7